<div class="fondoWeb">


  <div class="grid">

    <div style="background-color: rgb(241, 11, 11);" class="col-12">
      HEADER
    </div>

    <div style="background-color: blue;" class="col-1">
      1
    </div>
    <div class="col-11">
      <div style="height: 98hv;" class="grid">
        <div style="background-color: antiquewhite;" class="col-12">
          12
        </div>
        <div style="background-color: antiquewhite;" class="col-12">
          12
        </div>
        <div style="background-color: antiquewhite;" class="col-12">
          12
        </div>
        <div style="background-color: antiquewhite;" class="col-12">
          12
        </div>
        <div style="background-color: antiquewhite;" class="col-12">
          12
        </div>
      </div>
    </div>


    <div style="background-color: blueviolet;" class="col-12">
      FOOTER
    </div>
  </div>



  <!-- <div class="ui-g">



    <p-dock [model]="dockBasicItems" position="left">
      <ng-template pTemplate="item" let-item>
        <img [src]="item.icon" [alt]="item.label" width="100%">
      </ng-template>
    </p-dock>

     <h1><i>Paco</i></h1>
    <p>hola</p>
    <div class="social-buttons">
      <p>share</p>
      <div class="share">
        <a href="" target="_blank">
          <i class="nes-icon twitter"></i>
        </a>
      </div>
    </div>

  </div>

  <div class="nes-container is-dark with-title" style="height: 99vh;">
    <p class="title">Web</p>
    <p>Good morning. Thou hast had a good night's sleep, I hope.</p>
  </div>

</div> -->


